{% extends "account/base.html" %}
{% load bulma_tags %}
{% load i18n %}
{% load account socialaccount %}
{% block title %}
    Sign In
{% endblock %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <div class="container w3-container w3-padding-64 w3-padding-large">
        <div class="columns is-centered">
            <div class="column is-half is-narrow">
                <h1 class="w3-xxlarge">{% trans "Codeln Staff Login" %}</h1>

                <p class="w3-text-red">{% blocktrans %}If you dont have an account yet, then please contact your direct supervisor.{% endblocktrans %}</p>
                <form id="login-form" class="login w3-margin-top" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form|bulma }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <div class="w3-margin-top">
                        <v-btn rounded color="primary"
                               type="submit">Sign In
                        </v-btn>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
