{% extends 'base4.html' %}
{% block content %}
    {#    <div id="all_shortlist">#}
    {#        <sidebar :items="items"></sidebar>#}
    {#        <main-bar-all-shortlist :devs="devs"></main-bar-all-shortlist>#}
    {#        <!-- <main-bar-all-jobs :search="search" :headers="headers" :desserts="desserts" ></main-bar-all-jobs> -->#}
    {#    </div>#}
    <div class="w3-container">
        <v-card id="all__jobs__card" elevation="0" class="mt-5">
            <v-card-title class="mb-5">
                All Developer Lists
            </v-card-title>

            <div class="columns is-multiline">
                {% for list in lists %}
                    <div class="column is-3" >
                        <v-card outlined href="{% url 'account_manager:shortlist' list.id %}" class="is-hoverable">
                            <v-list-item three-line>
                                <v-list-item-content>

                                    <v-list-item-title class="headline mb-1">
                                        {{ list.title }}
                                    </v-list-item-title>
                                    <v-list-item-subtitle>Number of Devs</v-list-item-subtitle>
                                </v-list-item-content>


                            </v-list-item>

                            <v-card-actions>
    {#                                <v-btn outlined rounded text class="is-info" href="{% url 'frontend:shortlist' list.id %}">#}
    {#                                    Go to List#}
    {#                                </v-btn>#}
                                <v-btn tile color="success" href="{% url 'account_manager:shortlist_update' list.id %}">
                                    <v-icon left>mdi-pencil</v-icon>Edit
                                </v-btn>
                                <v-btn tile color="error" href="{% url 'account_manager:shortlist_delete' list.id %}">
                                    <v-icon left>mdi-delete</v-icon>Delete
                                </v-btn>

                            </v-card-actions>
                        </v-card>
                    </div>
                {% endfor %}

                <div class="column is-3">
                    <v-card outlined>
                        <v-list-item three-line>
                            <v-list-item-content>

                                <v-list-item-title class="headline mb-1">
                                    Create New List
                                </v-list-item-title>
                            </v-list-item-content>


                        </v-list-item>

                        <v-card-actions>
                            <v-btn outlined rounded text class=" button is-info" href="{% url 'account_manager:shortlist_create' %}">
                                +
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </div>

            </div>

        </v-card>
    </div>
{% endblock %}

