{% extends 'base4.html' %}
{#{% load bulma_tags %}#}
{% load account_manager_tags %}

{% block content %}
    <div class="w3-container w3-margin">

        <v-btn class="is-pulled-right" color="blue lighten-2" outlined onclick="vueApp.toggleModal('modal')">Add
            to
            list
        </v-btn>
        <div class="modal" id="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                {% if list_form.lists %}
                    <section class="modal-card-body">
                        <p class="panel-tabs">
                            <a class="is-active title">Select List</a>
                        </p>
                        <form action="{% url 'account_manager:add_to_list'  dev.id %}"
                              method="post">
                            {% csrf_token %}
                            {% for list in list_form.lists %}
                                <label class="panel-block">
                                    {{ list }}
                                </label>
                            {% endfor %}
                            <br>
                            <label>
                                <button type="submit" class=" button is-info"> Save</button>
                            </label>

                        </form>
                    </section>
                {% else %}

                    <v-card outlined>
                        <v-list-item three-line>
                            <v-list-item-content>

                                <v-list-item-title class="title mb-1">
                                    Create New List
                                </v-list-item-title>
                            </v-list-item-content>


                        </v-list-item>

                        <v-card-actions>
                            <v-btn rounde button color="blue lighten-2"
                                   href="{% url 'account_manager:shortlist_create' %}">
                                +
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                {% endif %}
                <button class="modal-close is-large"
                        aria-label="close" onclick="vueApp.toggleModal('modal')"></button>
            </div>
        </div>
        <div class="columns column is-8 is-offset-2">

            <div id="cv" class="w3-topbar w3-bottombar w3-border-blue">
                <div id="cv-template" class="w3-margin-left w3-margin-right">
                    <section class="cv-header">
                        <v-btn color="blue" button href="{% url 'account_manager:download_stripped_cv'  dev.id %}"
                               class="is-pulled-left">Download Stripped CV
                        </v-btn>
                        <v-btn></v-btn>
                        <v-btn color="blue" button href="{% url 'account_manager:download_cv'  dev.id %}"
                               class="is-pulled-right">Download Full CV
                        </v-btn>
                        {% if request.user|has_group:"cac_admin" %}

                            <div class="name__detail">
                                <div class="template-name__detail">
                                    <h2 class="w3-xxlarge">{{ dev.user.first_name }} {{ dev.user.last_name }}</h2>
{#                                    <span class="position">Current Position: CPO at Codeln</span>#}
                                    <span class="position">Location: {{ dev.country.name }}</span>
                                    <span class="position">Email: {{ dev.user.email }}</span>
                                    <span class="position">Phone: {{ dev.phone_number }}</span>
                                </div>
                            </div>
                        {% endif %}
                        <div class="template-experience">
                            <span class="experience">EXPERIENCE</span>
                            <span class="years__experience">{{ dev.years }} years</span>
                        </div>
                    </section>
                    <section class="resume">
                        {#            <div class="hashtags">#}
                        <div>
                            <h5>RESUME</h5>
                            {#                <span v-for="(hashtag, index) in cvtemplate.hashtags">{{ hashtag }}</span>#}
                        </div>
                        <div class="resume__details">
                            {{ dev.about }}
                        </div>
                    </section>
                    <section class="competences__roles__skills">
                        <h5>COMPETENCES</h5>
                        <div class="roles">
                            <span class="roles-title">Roles</span>
                            {% for role in dev.candidateexperience.all %}
                                <div class="role-description">{{ role.title }} · {{ role.duration }} months+
                                </div>
                            {% endfor %}
                        </div>
                        <div class="skills">
                            <h5>Skills</h5>
                            <div class="skills-list">

                                <span>project</span>
                                <span>{{ dev.skills }}</span>
                                <span>{{ dev.verified_skills }}</span>
                            </div>
                        </div>
                    </section>
                    <section class="experiences">
                        <h5>EXPERIENCE</h5>
                        {% if dev.candidateexperience.all %}
                            {% for exp in dev.candidateexperience.all %}
                                <div>
                                    <div class="company-name">
                                        <h3>{{ exp.company }}</h3>
                                        <div class="products">
                                            {#                        <span class="product" v-for="(product, index) in experience.product" :key="index">{{ product }}</span>#}
                                            <span class="product">{{ exp.tech_tags }}</span>
                                        </div>
                                    </div>
                                    <div class="work__date">
                                        <span class="work-date">Duration</span>
                                        <span class="work-time">{{ exp.duration }} months</span>
                                    </div>
                                </div>
                                <p class="position">{{ exp.title }}</p>
                                <p class="position-details">
                                    {{ exp.description }}
                                </p>
                            {% endfor %}
                        {% else %}
                            Developer profile doesn't contain past experience
                        {% endif %}
                    </section>
                    <section class="formation">
                        <h5>EDUCATION</h5>
                        Developer profile doesn't contain education history
                    </section>
                    {#            <section class="certification" v-for="(certification, index) in cvtemplate.certification" :key="index">#}
                    <section class="certification">
                        <div class="certification-certificate">
                            <div class="certification-details">
                                Developer profile doesn't contain past certifications
                            </div>
                            <div class="certification-date">2017 - 2017</div>
                        </div>
                        <h5>Business</h5>
                        <div class="certification-details">
                            For over 50 years Lancaster University has been providing World Class education to students
                            across
                            the world. Lancaster isranked amongst the top ten universities in the UK.',
                        </div>

                    </section>

                </div>
            </div>
        </div>
{% endblock %}