{% extends 'base4.html' %}
{% load bulma_tags %}
{% load account_manager_tags %}
{% block content %}
    <div class="w3-containe w3-margi">
        {#    search div#}
        <section class="hero is-info is-small">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Search for Developers by Name, Email, Skills ...
                    </h1>
                    <form action="." method="get">
                        <div class="field">
                            <div class="control">


                                <input class="input is-large" name="q" type="text" placeholder="Search...">

                                {#                                <input type="submit" value="Search" class="button">#}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
    {#    data section #}
    <div class="w3-container">
        <v-card id="all__jobs__card" elevation="0" class="mt-5">
            <div class="columns">
                <div class="column is-3">
                    <nav class="panel w3-margin">
                        <p class="panel-heading">
                            Filter
                        </p>
                        <div class="w3-margin">
                            <form method="get">

                                {{ devs_filter.form | bulma }}
                                <div class="panel-block">
                                    <button class="button is-link is-outlined is-fullwidth" type="submit">
                                        Filter
                                    </button>
                                </div>

                            </form>
                        </div>
                    </nav>
                </div>
                <div class="column is-9">
                    <v-card id="job_card" class="mb-5  pa-5" :ripple="false" color="white" flat>
                        {% for dev in devs %}
                            <v-card class="w3-margin">
                                <v-card-title
                                        class="w3-margin-top"> {{ dev.user.first_name }} {{ dev.user.last_name }} </v-card-title>
                                <v-card-subtitle>
                                    <v-icon medium>mdi-email</v-icon>
                                    {{ dev.user.email }}
                                    <br>
                                    <v-icon medium>mdi-home</v-icon>
                                    {{ dev.country }}
                                    <br>
                                    <v-icon medium>mdi-timeline-text</v-icon>
                                    {{ dev.years }} years
                                </v-card-subtitle>
                                <v-card-text>
                                    {% if  dev.candidateexperience.all %}
                                        <p class="subtitle">Experience</p>
                                        {% for exp in dev.candidateexperience.all %}
                                            <v-card-text>
                                                {{ exp.title }}
                                                <br>
                                                {{ exp.company }}
                                                {{ exp.description }}
                                                {{ exp.duration }}
                                                <br>
                                                {{ exp.tech_tags }}
                                                <br>
                                                {{ exp.duration }} months
                                            </v-card-text>
                                        {% endfor %}
                                    {% else %}
                                        <p>Candidate has not filled out their experience</p>
                                    {% endif %}
                                </v-card-text>
                                <v-card-text>
                                    {% if  dev.candidateportfolio.all %}
                                        <p class="subtitle">Portfolio</p>
                                        {% for portfolio in dev.candidateportfolio.all %}
                                            <v-card-text>
                                                {{ portfolio.title }}
                                                {{ portfolio.description }}
                                                {{ portfolio.verified }}
                                                {{ portfolio.tech_tags }}
                                            </v-card-text>
                                        {% endfor %}
                                    {% else %}
                                        Candidate hasn't filled out their portfolio
                                    {% endif %}
                                </v-card-text>
                                <v-card-actions>
                                    <v-btn color="blue lighten-2" outlined
                                           href="{% url 'account_manager:cv' %}">View CV
                                    </v-btn>
                                    <v-btn color="blue lighten-2" outlined
                                           href="{% url 'account_manager:add_to_list' dev.id %}">Add to list
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        {% endfor %}
                    </v-card>
                    {% if devs.has_other_pages %}
                        <nav class="pagination" role="navigation" aria-label="pagination">


                            <ul class="pagination-list">
                                {% if devs.has_previous %}
                                    {% if devs.previous_page_number != 1 %}
                                        <li>
                                            <a href="?{% param_replace page=devs.previous_page_number %}"
                                               class="pagination-previous">Previous</a>
                                        </li>
                                    {% endif %}

                                {% else %}
                                    <li class="disabled"><span>&laquo;</span></li>
                                {% endif %}
                                {% for i in devs.paginator.page_range %}
                                    {% if devs.number == i %}
                                        <li>
                                            <a href="?{% param_replace page=i %}" class="pagination-link is-current"
                                               aria-current="page">{{ i }}</a>
                                        </li>
                                    {% else %}
                                        <li><a href="?{% param_replace page=i %}" class="pagination-link"
                                               aria-current="page">{{ i }}</a>
                                        </li>
                                    {% endif %}

                                {% endfor %}
                                {% if devs.has_next %}
                                    {% if devs.next_page_number != devs.paginator.num_pages%}
                                     <li>
                                        <a href="?{% param_replace page=devs.next_page_number %}" class="pagination-next">Next page</a>

                                    </li>
                                    {% endif %}

                                {% else %}
                                    <li class="disabled"><span>&raquo;</span></li>
                                {% endif %}
                            </ul>

                        </nav>
                    {% endif %}
                </div>
            </div>


        </v-card>
    </div>



{% endblock %}
