{% extends 'base4.html' %}
{% load bulma_tags %}

{% block content %}
    <div class="w3-container">
        <div class="columns">
            <v-card-text class="column is-8 is-offset-2">
                <v-card id="all__jobs__card" elevation="0" class="mt-5">

                    <v-card-title class="mb-5">
                        {% if developer %}
                            Send Email to {{ developer.user.first_name }}   {{ developer.user.last_name}}
                        {% endif %}
                    </v-card-title>
                    <v-card-text>
                        <form action="" method="post">

                            {% csrf_token %}

                            {{ invitetojobform | bulma }}

                            <button type="submit" class=" button is-info"> Send Email</button>

                        </form>

                    </v-card-text>
                </v-card>
        </div>
    </div>
    </div>
{% endblock %}