{% extends 'base4.html' %}
{% load bulma_tags %}

{% block content %}
    <div class="w3-containe w3-margi">
        <section class="hero is-small is-info">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Search for Jobs by Title, Role, Stack ...
                    </h1>
                    <form action="." method="get">
                        <div class="field">
                            <div class="control">


                                <input class="input is-large" name="q" type="text" placeholder="Search...">

                                {#                                <input type="submit" value="Search" class="button">#}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
    <div class="w3-container">
        <v-card id="all__jobs__card" elevation="0" class="mt-5">

            {#            <v-card class="ma-5 pa-5">#}
            {#                <form method="get">#}
            {#                    <div class="filter">#}
            {#                        <div class="columns is-multiline">#}
            {#                            <div class="filter-option column">#}
            {#                                <p class="mb-1">JOB TITLE</p>#}
            {#                                {{ jobs_filter.form.title }}#}
            {#                            </div>#}
            {#                            <div class="filter-option column">#}
            {#                                <p class="mb-1">COUNTRY</p>#}
            {#                                {{ jobs_filter.form.city }}#}
            {#                            </div>#}
            {#                            <div class="filter-option column">#}
            {#                                <p class="mb-1">JOB ROLE</p>#}
            {#                                {{ jobs_filter.form.job_role }}#}
            {#                            </div>#}
            {#                            <div class="filter-option column">#}
            {#                                <p class="mb-1">CONTRACT TYPE</p>#}
            {#                                {{ jobs_filter.form.engagement_type }}#}
            {#                            </div>#}
            {#                            <div class="filter-option column">#}
            {#                                <p class="mb-1">STACK</p>#}
            {#                                {{ jobs_filter.form.tech_stack }}#}
            {#                            </div>#}
            {#                            <div class="filter-option column">#}
            {#                                <p class="mb-1">MONTH CREATED</p>#}
            {#                                {{ jobs_filter.form.month }}#}
            {#                            </div>#}
            {#                            <div class="filter-option column">#}
            {#                                <p class="mb-1">YEAR CREATED</p>#}
            {#                                {{ jobs_filter.form.year }}#}
            {#                            </div>#}
            {##}
            {#                            <div class="filter-option column w3-content">#}
            {#                                <br>#}
            {#                                <v-btn class="filter-btn " color="#007bff" dark small type="submit">Filter</v-btn>#}
            {#                            </div>#}
            {#                        </div>#}
            {##}
            {#                    </div>#}
            {#                </form>#}
            {#            </v-card>#}


            <v-card id="job_card" class="mb-5  pa-5" :ripple="false" color="white" flat>
                <v-expansion-panels focusable>
                    {% for job in jobs %}
                        <v-expansion-panel class="w3-row-padding">

                            <v-expansion-panel-header>
                                <div>
                                    <h5><strong>Job Tag</strong></h5>
                                    <br>
                                    <p>{{ job.tag }}</p>
                                </div>
                                <div>
                                    <h5><strong>Job Title</strong></h5>
                                    <br>
                                    <p>{{ job.title }}</p>
                                </div>
                                <div>
                                    <h5><strong>Country</strong></h5>
                                    <br>
                                    <p>{{ job.city }}</p>
                                </div>
                                <div>
                                    <h5><strong>Contract</strong></h5>
                                    <br>
                                    <p>{{ job.engagement_type }}</p>
                                </div>
                                <div>
                                    <h5><strong>Renumeration</strong></h5>
                                    <br>
                                    <p>{{ job.remuneration }}</p>
                                </div>
                                <div>
                                    <v-btn href="{% url 'account_manager:myjob' job.id %}" color="#007bff" dark small>View Job
                                    </v-btn>
                                </div>

                            </v-expansion-panel-header>
                            <v-expansion-panel-content class="w3-padding">
                                {{ job.description }}
                            </v-expansion-panel-content>

                        </v-expansion-panel>
                        <br>
                        <br>
                    {% endfor %}
                </v-expansion-panels>
            </v-card>
        </v-card>
    </div>

{% endblock %}