{% extends 'base4.html' %}

{% block content %}
    <div class="w3-container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <v-card id="all__jobs__card" elevation="0" class="mt-5">
                    <v-card-title class="mb-5">
                         Are you sure you want to delete {{ object }} list ?
                    </v-card-title>
                    <v-card-text>
                         <form action="" method="POST">
                             {% csrf_token %}
                             <button type="submit"  class="button is-danger"> Yes, delete</button>
                         </form>
                    </v-card-text>
                </v-card>
            </div>
        </div>
    </div>
{% endblock %}