{% load static %}
{#{% load humanize %}#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">

    <script defer src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.2.17/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body class="w3-light-gray">
<div class="w3-white w3-card w3-border-bottom">

<div class="w3-container w3-margin">
        <div class="columns column is-8 is-offset-2">
            <div id="cv" class="w3-topbar w3-bottombar w3-border-blue">
                <div id="cv-template" class="w3-margin-left w3-margin-right">
                    <section class="cv-header">
{#                         <v-btn color="blue"  button href="{% url 'frontend:download_cv' %}" class="is-pulled-right">Download as Pdf</v-btn>#}
                        <div class="name__detail">
                            <div class="template-name__detail">
                                <h2 class="w3-xxlarge">Dexter Ouatarra</h2>
                                <span class="position">Current Position: CPO at Codeln</span>
                                <span class="position">Location: </span>Ivory Coast</span>
                                <span class="position">Email: dexter@codeln.com</span>
                                <span class="position">Phone: 09894556677</span>
                            </div>
                        </div>
                        <div class="template-experience">
                            <span class="experience">EXPERIENCE</span>
                            <span class="years__experience">8 years</span>
                        </div>
                    </section>
                    <section class="resume">
                        {#            <div class="hashtags">#}
                        <div>
                            <h5>RESUME</h5>
                            {#                <span v-for="(hashtag, index) in cvtemplate.hashtags">{{ hashtag }}</span>#}
                        </div>
                        <div class="resume__details">
                            Je suis en charge de tous les aspects produits. Typiquement, comprend l'innovation, la
                            conception et
                            le
                            développement de produits, la production générale et la gestion des produits. Je travaille
                            sur la
                            stratégie produit en
                            fonction des objectifs fixés par le CEO ou les membres du conseil d'administration dont je
                            fais
                            partie.
                        </div>
                    </section>
                    <section class="competences__roles__skills">
                        <h5>COMPETENCES</h5>
                        <div class="roles">
                            <span class="roles-title">Roles</span>
                            <div class="role-description">Full Stack Development · 7 years +
                            </div>
                        </div>
                        <div class="skills">
                            <h5>Skills</h5>
                            <div class="skills-list">
                                {#                    <span v-for="(skill, index) in cvtemplate.skills">{{ skill }}</span>#}
                                <span>project</span>
                            </div>
                        </div>
                    </section>
                    <section class="experiences">
                        <h5>EXPERIENCE</h5>
                        {#            <div class="experience-details" v-for="(experience, index) in cvtemplate.experienceDetails" :key="index">#}
                        <div>
                            <div class="company-name">
                                <h3>Codeln</h3>
                                <div class="products">
                                    {#                        <span class="product" v-for="(product, index) in experience.product" :key="index">{{ product }}</span>#}
                                    <span class="product">Product</span>
                                </div>
                            </div>
                            <div class="work__date">
                                <span class="work-date">September 2018</span>
                                <span class="work-time">2 years 11 months</span>
                            </div>
                        </div>
                        <p class="position">Chief Product Officer</p>
                        <p class="position-details">
                            Je suis responsable de toutes les questions relatives aux produits.Comprend généralement
                            l’innovation,
                            la conception et ledéveloppement de produit, la production générale, la gestion de projets
                            et la
                            gestion
                            de produits.Je travaille sur la stratégie produit en fonction des objectifs fixés par le PDG
                            ou les
                            membres du conseil.
                        </p>
                    </section>
                    <section class="formation">
                        <h5>EDUCATION</h5>
                        <h3>Lancaster University</h3>
                    </section>
                    {#            <section class="certification" v-for="(certification, index) in cvtemplate.certification" :key="index">#}
                    <section class="certification">
                        <div class="certification-certificate">
                            <div class="certification-details">
                                <h6>BUSINESS ENGLISH CERTIFICATE</h6>
                                <h3>Lancaster University</h3>
                            </div>
                            <div class="certification-date">2017 - 2017</div>
                        </div>
                        <h5>Business</h5>
                        <div class="certification-details">
                            For over 50 years Lancaster University has been providing World Class education to students
                            across
                            the world. Lancaster isranked amongst the top ten universities in the UK.',
                        </div>
                    </section>

                </div>
            </div>
        </div>
</div>
</body>
</html>